<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
		<section name="Unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<Unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<namespace name="Assessment.Interfaces.ImageSearchAPI"/>
		<namespace name="Assessment.ImageSearchBusinessLogic"/>
		<namespace name="Assessment.Common"/>
		<namespace name="System.Windows.Input"/>
		<namespace name="Assessment.DataModel"/>
		<namespace name="Assessment.Interfaces.Logging"/>
		<namespace name="Assessment.Logger"/>
		<assembly name="Assessment.Interfaces.ImageSearchAPI"/>
		<assembly name="Assessment.ImageSearchBusinessLogic"/>
		<assembly name="Assessment.Common"/>
		<assembly name="System.Windows.Input"/>
		<assembly name="Assessment.DataModel"/>
		<assembly name="Assessment.Interfaces.Logging"/>
		<assembly name="Assessment.Logger"/>

		<container>
			<register type="IFetchImages" mapTo="FetchImages">
				<lifetime type="singleton" />
			</register>
			<register type="IDirectoryHelper" mapTo="DirectoryHelper">
				<lifetime type="singleton" />
			</register>
			<register type="IFileHelper" mapTo="FileHelper">
				<lifetime type="singleton" />
			</register>
			<register type="ImageSearchModel" mapTo="ImageSearchModel">
				<constructor>
					<param name="imageSourcePath"/>
				</constructor>
			</register>
			<register type="IDevelopmentLogger" mapTo="DevelopmentLogger">
				<lifetime type="singleton"/>
			</register>
			<register type="ITraceLogger" mapTo="TraceLogger">
				<lifetime type="singleton"/>
			</register>
			<!--<register type="ICommand" mapTo="RelayCommand">
				<param name="execute"/>
				<param name="canExecute"/>
			</register>-->
		</container>
	</Unity>

	<appSettings>
		<add key="ImagesDownloadPath" value="D:\Assessment\Images" /> <!-- Todo: Make sure it has read-write permissions -->
		<add key="SearchMode" value="Any" />
	</appSettings>

</configuration>